<h1>Enter your new message</h1>
	<form action='/messages' method='post'>
		<p>
			<input type="text" name="title" placeholder="Title">
		</p>
		<p>
			<input type="text" name="text" placeholder="Message">
		</p>
		<p>
			<input type="submit" value="Add message" class="button">
		</p>
	</form>