<footer>
	<div id="my-logo">
		<a href="http://www.onlychaos.com/">
					<img src="http://th00.deviantart.net/images3/200H/i/2004/102/2/9/Cat_Logo.jpg">
				</a>
			</div>
			<div id="technologies">
				<p>
					I built this page for my 4th week Challenge at
					<a href="http://www.makersacademy.com">Makers Academy</a>, a 12 week coding course in London.
				</p>
				<p>
					This website is built using Ruby, Sinatra, Rspec, Capybara, HTML and CSS.
				</p>
	</div>
</footer>